@media( min-width: 800px){
body{
    background-color: rgb(177, 71, 103);
    color: white;
}
#header{
    border: 1px solid white;
    float: left;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
#header img{
    width: 150px;
    display: inline;
    margin: 5px;
    float: left;
    margin-right: 20px;
}
#header p{
    float: left;
}
.sve{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
#posao{
    border: 1px solid white;
    float: left;
    width: 35%;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 25px;
}
#smrt2{
    border: 1px solid white;
    float: right;
    width: 35%;
    margin-left: 1px;
    padding: 15px;
    font-style: italic;
    margin-top: 15px;
}
#rodenje{
    clear: both;
    border: 1px solid white;
    float: left;
    margin-bottom: 15px;
    padding: 5px;
    width: 35%;
}
#mladost{
    border: 1px solid white;
    float: left;
    padding: 5px;
    margin-bottom: 15px;
    width: 35%;
}
#smrt1{
    border: 1px solid white;
    float: left;
    padding: 5px;
    width: 35%;
    margin-bottom: 15px;
}
.desno{
    float: right;
    width: 62%;
}
.sve img{
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 20px;
    float: right;
}
}