#glava{
    background-color: gray;
    text-align: center;
}
#noga{
    background-color: gray;
    text-align: center;
}
#sidebar1 img{
    width: 300px;
}
#sidebar2 img{
    width: 100%;
}