#glava{
    background-color: lightgray;
    text-align: center;

}
#sredina{
    background-color: gray;
}
#noge{
    background-color: gray;
}
#sb1{
    background-color: gray;
}
#sb2{
    background-color: lightgray;
}
#noge{
    background-color: lightgray;
    text-align: center;
}

